.cartbox {
    position: relative;
}


.buynow {
    position: absolute;
    bottom: 30px;
    right: 20px;
    background-color: orange !important;
    width: 200px;
}

table {
    margin-bottom: 50px;
}

.bottombox {
    width: 60%;
    margin: auto;
    background-color: #fff;
}