.gallery{
    height: 350px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    position: relative;
   background-color: #fff;
   overflow: hidden;
}
.gallery_list{
    display: flex;
    overflow: hidden;
    align-items: center;
    
}

.gallery_next{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.gallery_prev{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
