.footer{
    display: flex;
    margin: 10px 0 30px;
    height: 300px;
    width: 90%;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    background-color: rgba(14, 13, 13, 0.4);
    
}
.link{
    flex: 1;
}
.nav{
    flex: 1;
}
.contact{
    flex: 2;
}