.gallery {
    height: 350px;
    width: 100%;
    margin: auto;
    position: relative;
    background-color: #fff;
    overflow: hidden;
}

.gallery_list {
    width: 95%;
    display: flex;
    align-items: center;
    overflow: visible
}

.gallery_next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

.gallery_prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}